.App{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Project{
    display: flex;
    align-items: center;
    justify-content: inital;
    flex-direction: column;
    padding: "3vw";
}
.Project img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 500px;
}
hr{
    color:black;
}